{% extends 'stuManage/base-.html' %}
{% load django_tables2 %}
{% load querystring from django_tables2 %}
{% block nav %}

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#basicInfo"
                    type="button" role="tab" aria-controls="nav-home" aria-selected="true">基本信息
            </button>
            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#religionInfo"
                    type="button" role="tab" aria-controls="nav-profile" aria-selected="false">宗教信息
            </button>
            <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#shoolInfo" type="button"
                    role="tab" aria-controls="nav-contact" aria-selected="false">学校信息
            </button>
            <!--<button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#familyInfo"
                    type="button"
                    role="tab" aria-controls="nav-contact" aria-selected="false">家庭信息
            </button>-->
          <!--  <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#fileInfo"
                    type="button"
                    role="tab" aria-controls="nav-contact" aria-selected="false">档案文件下载
            </button>-->
            <form method="get" class="d-flex" role="search" action="/stu/searchStu">
                <input name="q" class="form-control-sm me-2" type="search" placeholder="输入学生姓名搜索" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">搜索</button>
            </form>
            <span>  &nbsp;  </span><a class="btn btn-outline-success" href="/stu/student_info"> 所有学生</a>
            <span>  &nbsp;  </span><a class="btn btn-outline-success" href="/stu/add"> 录入新学生</a>
            <a class="d-none" href="/stu/export_xlsx">Download --XLSX</a>

        </div>
    </nav>
{% endblock %}
{% block left_title %}
    <script>



        $(document).ready(function () {

            window.onload = function () {
                // $('td').children("button").hide();

            }
            $('td').mouseover(function () {
                $(this).children("button").removeAttr('hidden');

            });
            $('td').mouseout(function () {
                $(this).children("button").attr("hidden",true);

            });
        });
    </script>
    {% if student_info %}

        <table data-toggle="table" class="bg-white" >
            <thead>
            <th>姓名</th>


            </thead>
            {% for col in student_info %}
                <tr>
                    <td>


                        <a class=" " href="/stu/{{ col.id }}/update" role="button">
                            {{ col.name }}
                        </a>
                      <!--<a href="/stu/{{ col.id }}/export_xls">export</a>-->
                        <button id="cbtn" onclick="location.href='/stu/{{ col.id }}/delete'" hidden type="button" class=" btn-close float-end" aria-label="Close"></button>

                    </td>


                </tr>
                <div class="collapse" id="{{ col.name }}">
                    <div class="card card-body">
                        {{ col.name }}
                    </div>
                </div>
            {% endfor %}
        </table>
    {% endif %}

{% endblock %}
{% block main_list %}



    <div class="tab-content bg-white " id="nav-tabContent">
        <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="nav-home-tab"
             tabindex="0">
            {% if student_info %}

                <table data-toggle="table">
                    <thead>


                    <th>民族</th>
                    <th>出生日期</th>
                    <th>年龄</th>
                    <th>电话</th>
 <th>身份证号</th>
                    <th>家庭住址</th>


                    </thead>
                    {% for col in student_info %}
                        <tr>
                            <td>{{ col.minzu }}</td>
                            <td>{{ col.birth_date }}</td>
                            <td>{{ col.age }}</td>
                            <td>{{ col.tel }}</td>
                            <td>{{ col.sfid }}</td>


                            <td>{{ col.adress }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
        <div class="tab-pane fade" id="religionInfo" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
            {% if student_info %}
                <table data-toggle="table">
                    <thead>

                    <th>法名</th>
                    <th>教职身份</th>
                    <th>教职人员编号</th>
                    <th>出家年月</th>
                    <th>出家寺院</th>
                    <th>戒师</th>
                    </thead>
                    {% for col in student_info %}
                        <tr>

                            <td>{{ col.dhamma_name }}</td>
                            <td>{{ col.title2 }}</td>
                            <td>{{ col.teacher_id }}</td>
                            <td>{{ col.monk_date }}</td>
                            <td>{{ col.monk_temple }}</td>
                            <td>{{ col.sila_teacher }}</td>

                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
        <div class="tab-pane fade" id="shoolInfo" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
            {% if student_info %}
                <table data-toggle="table">
                    <thead>

                    <th>年级</th>
                    <th>学号（国民教育）</th>
                    <th>学号（宗教教育）</th>
                    <th>学历层次</th>
                    <th>学生类别</th>
                    <th>学制</th>
                    <th>入学日期</th>
                    <th>是否参加中考</th>
                    <th>毕业学校</th>
                    </thead>
                    {% for col in student_info %}
                        <tr>

                            <td>{{ col.grade }}</td>
                            <td>{{ col.base_id }}</td>
                            <td>{{ col.religion_id }}</td>
                            <td>{{ col.study_level }}</td>
                            <td>{{ col.student_type }}</td>
                            <td>{{ col.school_lenth }}</td>
                            <td>{{ col.enrol_date }}</td>
                            <td>{{ col.middle_exam }}</td>
                            <td>{{ col.graduate_school }}</td>

                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    <div class="tab-pane fade" id="shoolInfo" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
            {% if student_info %}
                <table data-toggle="table">
                    <thead>

                    <th>年级</th>
                    <th>学号（国民教育）</th>
                    <th>学号（宗教教育）</th>
                    <th>学历层次（中专/静修）</th>
                    <th>学生类别（全日制/非全日制）</th>
                    <th>学制</th>
                    <th>入学日期</th>
                    <th>是否参加中考（是/否）</th>
                    <th>毕业学校</th>
                    </thead>
                    {% for col in student_info %}
                        <tr>

                            <td>{{ col.grade }}</td>
                            <td>{{ col.base_id }}</td>
                            <td>{{ col.religion_id }}</td>
                            <td>{{ col.study_level }}</td>
                            <td>{{ col.student_type }}</td>
                            <td>{{ col.school_lenth }}</td>
                            <td>{{ col.enrol_date }}</td>
                            <td>{{ col.middle_exam }}</td>
                            <td>{{ col.graduate_school }}</td>

                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
        {% comment %}
            <div class="tab-pane fade" id="familyInfo" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
                {% if student_info %}
                    <table data-toggle="table">
                        <thead>

                        <th>家庭成员1</th>
                        <th>关系</th>
                        <th>姓名</th>
                        <th>民族</th>
                        <th>单位职务</th>
                        <th>电话</th>
                        <th>家庭成员2</th>
                        <th>关系</th>
                        <th>姓名</th>
                        <th>民族</th>
                        <th>单位职务</th>
                        <th>电话</th>
                        <th>家庭成员3</th>
                        <th>关系</th>
                        <th>姓名</th>
                        <th>民族</th>
                        <th>单位职务</th>
                        <th>电话</th>
                        <th>家庭成员4</th>
                        <th>关系</th>
                        <th>姓名</th>
                        <th>民族</th>
                        <th>单位职务</th>
                        <th>电话</th>
                        <th>家庭成员5</th>
                        <th>关系</th>
                        <th>姓名</th>
                        <th>民族</th>
                        <th>单位职务</th>
                        <th>电话</th>

                        </thead>
                        {% for col in student_info %}
                            <tr>

                                <td>{{ col.relationship1 }}</td>
                                <td>{{ col.fml_name1 }}</td>
                                <td>{{ col.minzhu1 }}</td>
                                <td>{{ col.job_info1 }}</td>
                                <td>{{ col.fml_tel1 }}</td>
                                <td>{{ col.relationship2 }}</td>
                                <td>{{ col.fml_name2 }}</td>
                                <td>{{ col.minzhu2 }}</td>
                                <td>{{ col.job_info2 }}</td>
                                <td>{{ col.fml_tel2 }}</td>
                                <td>{{ col.relationship3 }}</td>
                                <td>{{ col.fml_name3 }}</td>
                                <td>{{ col.minzhu3 }}</td>
                                <td>{{ col.job_info3 }}</td>
                                <td>{{ col.fml_tel3 }}</td>
                                <td>{{ col.relationship4 }}</td>
                                <td>{{ col.fml_name4 }}</td>
                                <td>{{ col.minzhu4 }}</td>
                                <td>{{ col.job_info4 }}</td>
                                <td>{{ col.fml_tel4 }}</td>
                                <td>{{ col.relationship5 }}</td>
                                <td>{{ col.fml_name5 }}</td>
                                <td>{{ col.minzhu5 }}</td>
                                <td>{{ col.job_info5 }}</td>
                                <td>{{ col.fml_tel5 }}</td>

                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
        {% endcomment %}

   <div class="tab-pane fade" id="fileInfo" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
            {% if student_info %}
                <table data-toggle="table">
                    <thead>

                    <th>袈裟证件照</th>
                    <th>便装证件照</th>
                    <th>身份证国徽面</th>
                    <th>身份证人像面</th>
                    <th>户口簿户主页</th>
                    <th>户口簿本人页</th>
                    <th>学生安全协议书</th>

                    </thead>
                    {% for col in student_info %}
                        <tr>

                            <td>{{ col.jiasha_photo }}</td>
                            <td>{{ col.clothes_photo }}</td>
                            <td>{{ col.ID_f_photo }}</td>
                            <td>{{ col.ID_b_photo }}</td>
                            <td>{{ col.FamilyAc_m_photo }}</td>
                            <td>{{ col.FamilyAc_p_photo }}</td>
                            <td>{{ col.security }}</td>


                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>

{% endblock %}